*.log
app/.htaccess
app/sitemap.xml
app/sitemap.xml.gz
app/wp-config.php
app/wp-content/advanced-cache.php
app/wp-content/backup-db/
app/wp-content/backups/
app/wp-content/blogs.dir/
app/wp-content/cache/
app/wp-content/upgrade/
app/wp-content/uploads/
app/wp-content/uploads.backup/
app/wp-content/wp-cache-config.php
app/wp-content/plugins/hello.php
app/wp-content/plugins/altimea-herramienta-de-fragancias/
app/wp-content/plugins/altimea-herramienta-de-fragancias/*
app/wp-content/themes/lbel-dev
app/wp-content/w3tc-config/

app/assets/themes-developing/lbel/bower_components/*
node_modules

app/readme.html
app/license.txt
app/licencia.txt
app/wp-config-sample.php

.DS_Store
/nbproject/*
/.vscode/
/app/wp-content/hybris-api-json/
/app/wp-content/magento-api-json/

.idea/
/app/wp-content/wflogs/
/app/wordfence-waf.php
