// ==== CONFIGURATION ==== //

// Set all your configuration variables here!
$theme-name:               "iblog";
$theme-uri:                "#";
$theme-author:             "Altimea S.A.C.";
$theme-author-uri:         "http://altimea.com";
$theme-description:        "Theme developed by Altimea for their beloved client";
$theme-version:            "1.0.0";
$theme-text-domain:        "iblog-theme";
$theme-text-domain-path:   "/languages/";

// Images path use css
// ------------------------------------------------
$imgs: './img/cssimgs/';

// Fonts
// ------------------------------------------------
$font-path: './fonts/';

$font-size-base: 1rem;
$font-family-base: sans-serif;

// Breadcrumbs
$breadcrumb-padding-x: 2px;
$breadcrumb-bg: transparent;
$breadcrumb-divider: "\203A";

